{% extends "/layouts/layout_personal_space.html" %}

{% block style %}

.mokki-flex-down-evenly{
    width: 70%;
}

@media screen and (max-width: 1100px) {
 .mokki-flex-down-evenly{
    width: 95%;
  }
}

{% endblock style %}

{% block content %}

<div class="mokki-flex-down-evenly">

    <a href="/login" style="align-self:flex-start; margin-top:15px; margin-bottom: 20px;" class="btn btn-outline-info" id="return-button">Retour</a>

    <h1 style="margin-left:15%; margin-right:15%; margin-bottom:20px; text-align:center;">Créer son mot de passe</h1>

    <form method="POST" action="/create_password" style="margin-left:15%; margin-right: 15%;">
    {{ form.hidden_tag() }}

        <div class="mokki-flex-between" style="margin-bottom:20px;">
            {{ form.email.label(class="form-control-label") }}

            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-lg") }}
            {% endif %}

        </div>

        <div class="mokki-flex-between" style="margin-bottom:20px;">
            {{ form.password.label(class="form-control-label") }}

            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-lg") }}
            {% endif %}

        </div>

        <div class="mokki-flex-between" style="margin-bottom:20px;">
            {{ form.confirm_password.label(class="form-control-label") }}

            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}

        </div>

        <div>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

    </form>

</div>

{% endblock content %}