

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/libraries/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">


<style>

form{
    width: 300px;
}



</style>

</head>

<body>


<div style="display:flex; flex-direction:column; align-items:center; margin-top: 20px; font-family: 'Quicksand', sans-serif; ">

    <div style="width:400px; margin-bottom: 20px;">
      {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         {% for category, message in messages %}
           <div class="alert alert-{{category}}">
             {{ message }}
           </div>
         {% endfor %}
       {% endif  %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>

    <div style=" padding-right: 300px; margin-bottom: 40px;">
        <a href="/login">Back</a>
    </div>

    <div>
        <img src="static/logos/gyst_change_password.png" style="width: 200px; margin-bottom: 30px;"/>
    </div>

    <form method="POST" action="/reset_password", style="margin-left:15%; margin-right:15%;">
        {{ form.hidden_tag() }}

        <div  style="margin-bottom:20px;" >
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
        </div>

        <div  style="margin-bottom:20px;" >
                {{ form.old_password.label(class="form-control-label") }}

                {% if form.old_password.errors %}
                    {{ form.old_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.old_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.old_password(class="form-control form-control-lg") }}
                {% endif %}
        </div>

        <div  style="margin-bottom:20px;" >
            {{ form.new_password.label(class="form-control-label") }}

            {% if form.new_password.errors %}
                {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.new_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.new_password(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div  style="margin-bottom:20px;" >
            {{ form.confirm_password.label(class="form-control-label") }}

            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div style="display:flex; flex-direction:row; justify-content:space-between;">
            <div>
            </div>
            <div>
                {{ form.submit(class="btn btn-outline-info", style="margin-top:10px") }}
            </div>
        </div>

    </form>

</div>



</body>


</html>




