<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <script src="https://kit.fontawesome.com/2cb897d3bd.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>


    <!-- Tooltipster
    <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css" />

    <script type="text/javascript" src="tooltipster/dist/js/tooltipster.bundle.min.js"></script>-->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <!-- jQuery contextMenu -->

    <script>
        $( function() {
            $( document ).tooltip();
          } );
    </script>

</head>

<body>


</body>


<script>

var title = '{{title}}';
console.log(title);

var pages = {{pages|safe}};

var xml='{{xml_string|safe}}';
//console.log("print xml");
//console.log(xml);

var xmlDoc = $.parseXML(xml);
var biggest = xmlDoc.getElementsByTagName("biggest_id")[0].childNodes[0].nodeValue;
console.log(biggest);

var pageID = '{{pageID|safe}}';


</script>

    <script type="text/javascript" src="/static/js/main.js" ></script>

    <script type="text/javascript" src="/static/js/notes.js" ></script>

    <script type="text/javascript" src="/static/js/noteLinks.js" ></script>

    <script type="text/javascript" src="/static/js/drop.js" ></script>

    <script type="text/javascript" src="/static/js/images.js" ></script>

    <script type="text/javascript" src="/static/js/pdf.js" ></script>

    <script type="text/javascript" src="/static/js/pageLink.js" ></script>

    <script type="text/javascript" src="/static/js/drag.js" ></script>

    <script type="text/javascript" src="/static/js/title.js" ></script>

    <script type="text/javascript" src="/static/js/selectables.js" ></script>

    <script type="text/javascript" src="/static/js/books.js" ></script>

</html>



