
<html>
<head>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" type="text/css" href="../../static/css/emails.css">-->

    <style>



#column{
    width:800px;
    display:inline-block;
}

@media screen and (max-width: 850px) {
  #column {
        width:100%;
  }
}




    </style>

</head>
    <body>

            <div style="display:inline-block; font-family: 'Quicksand', sans-serif;">

                <div id="column" >

                    <div style="margin-top:30px; margin-left:5%; padding-bottom:5px;">
                        <p>Hi,</p>

                        <p>To confirm you want to sign up to GYST, please click this link :</p>
                        <p>{{link}}</p><br>

                        <img src="http://www.gyst.store/static/logos/gyst_logo.png">

                    </div>

                </div>

            </div>

    </body>

</html>




