<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2EVK6G6Y2W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2EVK6G6Y2W');
    </script>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/libraries/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login2.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/static/libraries/jquery.js" ></script>

    {% block head %}{% endblock head %}

<style>

form{
    width: 300px;
}

</style>

</head>

<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
     {% for category, message in messages %}
       <div class="alert alert-{{category}}">
         {{ message }}
       </div>
     {% endfor %}
   {% endif  %}
  {% endwith %}
  {% block content %}{% endblock %}



<img id="login_gif" class="image" src="/static/images/icons/login_gif.gif"/>
<img id="home_screenshot" class="image" src="/static/images/icons/home_screenshot.png"/>

<!--
<div class="imagePageLink" style="top:10%; left: 2%; width: 7%; height: 16%;">
    <img class="imagePageLink_img" src="/static/images/icons/knowledge_base.png" />
    <div class="imagePageLink_name">knowledge base</div>
</div>

<div class="imagePageLink" style="top:4%; left: 12%; width: 7%; height: 16%;">
    <img class="imagePageLink_img" src="/static/images/icons/library.png" />
    <div class="imagePageLink_name">library</div>
</div>

<div class="imagePageLink" style="top:15%; left: 22%; width: 7%; height: 16%;">
    <img class="imagePageLink_img" src="/static/images/icons/my_life.png" />
    <div class="imagePageLink_name">my life</div>
</div>

<div class="imagePageLink" style="top:26%; left: 11%; width: 7%; height: 16%;">
    <img class="imagePageLink_img" src="/static/images/icons/projects.png" />
    <div class="imagePageLink_name">projects</div>
</div>
-->

<!--
<div class="note" style="left: 14%; top: 53%; font-size: 16px;">* move things around.</div>
<div class="note" style="left: 14%; top: 58%; font-size: 16px;">* resize.</div>
<div class="note" style="left: 14%; top: 63%; font-size: 16px;">* double-click  anywhere <br> &nbsp to write.</div>
<div class="note" style="left: 14%; top: 68%; font-size: 16px;">* drop files, images, ...</div>
<div class="note" style="left: 14%; top: 73%; font-size: 17px;">* and much more</div>
-->

<!--
<div class="to-do-list" style="top:10%; left: 75%;">
    <ul class="to-do-list-list">
        <li class="done">
            release an alpha version
            <i class="icon"></i>
        </li>
        <li class="done">
            get first users on reddit
            <i class="icon"></i>
        </li>
        <li class="ongoing">
            get help to builb a better product
            <i class="icon"></i>
        </li>
        <i class="plus-to-do"></i>
    </ul>
</div>
-->

<!--
<div class="pdf" pdf="/static/docs/gyst_pitch_deck.pdf" style="top: 60%; left: 6%; width: 6%; height: 13%;">
    <img class="pdf_img" src="/static/images/icons/pdf.png">
    <div class="pdf_name">GYST pitch deck</div>
</div>
-->

<!-- Logo and login form -->

<div id="login_form">

    <img id="logo" src="static/images/icons/logo_baseline.png"/>

    <form method="POST" action="" >
        {{ form.hidden_tag() }}

            <div style="margin-bottom:10px;">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div>
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div style="display:flex; flex-direction:row; justify-content:space-between;">
                <div style=" margin-top:18px; text-decoration: underline;">
                    <a href="/forgot_password" >Forgot password ?</a>
                </div>
                <div>
                    {{ form.submit(class="btn btn-outline-info", style="margin-top:10px") }}
                </div>
            </div>

            <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top: 40px;">
                <div>
                    Don't have an account ?
                </div>
                <div>
                    <a href="/sign_up"   style=" margin-top:10px;">Sign up</a>
                </div>
            </div>

    </form>

</div>

<!-- -->



<!--  baanding  -->

<div id="branding1" class="note">Digital organization, made easy.</div>

<div id="branding2" class="note">Store. Organize. Visualize. Share.</div>

<div id="branding3" class="note">Simple, visual, elegant.</div>

<!--  -->



<!-- patreon and version history  -->

<img src="/static/images/icons/patreon.png" id="patreon" />

<div id="version_history_button">version history</div>

<div id="version_history">

    <div id="v1">
        <div style="font-size: 23px; font-weight: 900;">V1   <span style="font-size: 17px; font-weight: 500;">released 19.08.23</span></div>
        <ul>
            <li>create pages, notes, lists</li>
            <li>drop images, links, documents</li>
            <li>align, resize</li>
            <li>copy-paste anything</li>
            <li>secure</li>
        </ul>
    </div>

    <div id="v2">
        <div style="font-size: 23px; font-weight: 900;">V2   <span style="font-size: 17px; font-weight: 500;">coming soon</span></div>
        <ul>
            <li>mobile app</li>
            <li>explore in list or map mode</li>
            <li>build your feed : send content from anywhere</li>
        </ul>
    </div>

</div>

<!--  -->

</body>

<script type="text/javascript" src="/static/js/login2.js" ></script>
<script type="text/javascript" src="/static/js/drag.js" ></script>
<script type="text/javascript" src="/static/js/style.js" ></script>
<script type="text/javascript" src="/static/js/login_notes.js" ></script>



</html>


