<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/libraries/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/static/libraries/jquery.js" ></script>

    {% block head %}{% endblock head %}

<style>

form{
    width: 300px;
}

</style>

</head>

<body>

<div style="width:300px; margin-top: 50px;">
  {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
     {% for category, message in messages %}
       <div class="alert alert-{{category}}">
         {{ message }}
       </div>
     {% endfor %}
   {% endif  %}
  {% endwith %}
  {% block content %}{% endblock %}
</div>

<img src="/static/images/icons/patreon.png" id="patreon" />

<div id="v1">
    <h1>V1</h1>
    <ul>
        <li>create pages, notes, lists</li>
        <li>drop images, links, documents</li>
        <li>align elements on page</li>
        <li>secure and protected</li>
        <li>no feed yet</li>
    </ul>
</div>

<div id="main_block">

    <div id="versions">

    </div>

    <!-- Logo and login form -->
    <div id="form">

        <div>
            <img src="static/logos/gyst_login.png" style="width: 200px; margin-bottom: 30px;"/>
        </div>

        <form method="POST" action="" >
            {{ form.hidden_tag() }}

                <div style="margin-bottom:10px;">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div>
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div style="display:flex; flex-direction:row; justify-content:space-between;">
                    <div style=" margin-top:10px; text-decoration: underline;">
                        <a href="/forgot_password" >Forgot password ?</a>
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-outline-info", style="margin-top:10px") }}
                    </div>
                </div>
                <div style="text-decoration: underline;">
                <a href="/reset_password"  >Change password</a>
                </div>

                <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top: 40px;">
                    <div>
                        Don't have an account ?
                    </div>
                    <div>
                        <a href="/sign_up"   style=" margin-top:10px;">Sign up</a>
                    </div>
                </div>

        </form>

        <div id="v1phone">
            <h1>V1</h1>
            <ul>
                <li>create pages, notes, lists</li>
                <li>drop images, links, documents</li>
                <li>align and resize</li>
                <li>secure and protected</li>
                <li>no feed yet</li>
            </ul>
        </div>

    </div>


</div>

</body>

<script type="text/javascript" src="/static/js/login.js" ></script>

</html>


