<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/title.css">
    <link rel="stylesheet" type="text/css" href="/static/css/note.css">
    <link rel="stylesheet" type="text/css" href="/static/css/noteLink.css">
    <link rel="stylesheet" type="text/css" href="/static/css/imageLink.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pageLink.css">
    <link rel="stylesheet" type="text/css" href="/static/css/list.css">
    <link rel="stylesheet" type="text/css" href="/static/css/images.css">
    <link rel="stylesheet" type="text/css" href="/static/css/imagePageLink.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pdf.css">
    <link rel="stylesheet" type="text/css" href="/static/css/docx.css">
    <link rel="stylesheet" type="text/css" href="/static/css/xlsx.css">
    <link rel="stylesheet" type="text/css" href="/static/css/right-click.css">
    <link rel="stylesheet" type="text/css" href="/static/css/select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">


    <script type="text/javascript" src="/static/libraries/jspdf.umd.min.js"></script>

    <!-- color picker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr@latest/dist/themes/nano.min.css" />

    <!-- fontAwesome -->

        <!-- ONLINE
        <script src="https://kit.fontawesome.com/2cb897d3bd.js" crossorigin="anonymous"></script>  -->

        <!-- OFFLINE -->
        <script type="text/javascript" src="/static/libraries/fontawesome.js" ></script>

    <!-- jQuery -->

        <!-- ONLINE
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>   -->

        <!-- OFFLINE -->
        <script type="text/javascript" src="/static/libraries/jquery.js" ></script>

        <link rel="stylesheet" type="text/css" href="/static/libraries/contextMenu.min.css">
        <script type="text/javascript" src="/static/libraries/contextMenu.min.js" ></script>
        <script type="text/javascript" src="/static/libraries/contextMenu.js" ></script>

    <!-- jQuery Rotate  -->

    <script type="text/javascript" src="/static/libraries/jQueryUI.js"></script>
    <script type="text/javascript" src="/static/libraries/jQueryRotate.js" ></script>

    <!-- Tooltipster

    <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css" />

    <script type="text/javascript" src="tooltipster/dist/js/tooltipster.bundle.min.js"></script>-->

    <!-- Bootstrap -->

        <!-- ONLINE

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
        <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">   -->

        <!--  OFFLINE   -->

        <link rel="stylesheet" type="text/css" href="/static/libraries/bootstrap.min.css">
        <script type="text/javascript" src="/static/libraries/bootstrap.min.js" ></script>

        <script type="text/javascript" src="/static/libraries/dropzone.js" ></script>
        <link rel="stylesheet" type="text/css" href="/static/libraries/dropzone.css">

</head>

<body>


<!--
<div onwheel="myFunction(event)" style="width:100px;height:100px;background-color:Tomato"></div>

<svg width="50" height="50" viewBox="25 25 100 100">
  <ellipse cx="50" cy="50" rx="50" ry="50"></ellipse>
</svg>

<p>4.</p>
<svg width="50" height="50" viewBox="0 0 100 100">
  <ellipse cx="50" cy="50" rx="50" ry="50"></ellipse>
</svg>

<p>5.</p>
<svg width="50" height="50" viewBox="0 0 25 25">
  <ellipse cx="50" cy="50" rx="50" ry="50"></ellipse>
</svg>
-->

<!--

<svg id="pageSVG" width="2000" height="200" style="background-color:rgb(252, 186, 3, 0.3)">
            <foreignobject class="node" x="50" y="30" width="5000" height="50">

                <svg viewBox="30 30 200 200" style="background-color: green"></svg>

-->


<!-- Dropzones for images -->

<div class="modal forPageLink">
  <div class="modal-content">
    <div style="text-align:center; width:100%; height:100px; border:dashed 1px blue;" class="drop-area">drop image here</div>
    <span class="close">&times;</span>
  </div>
</div>

<div class="modal forImagePageLink">
  <div class="modal-content">
    <div style="text-align:center; width:100%; height:100px; border:dashed 1px blue;" class="drop-area">drop image here</div>
    <span class="close">&times;</span>
  </div>
</div>

<div class="modal forImageLink">
  <div class="modal-content">
    <div style="text-align:center; width:100%; height:100px; border:dashed 1px blue;" class="drop-area">drop image here</div>
    <span class="close">&times;</span>
  </div>
</div>

<input style=" opacity:0;" type="text" value="you" id="myClipboard">

<div  id="mouse_position" style="display:none;">
    <div id="x_pos"></div>
    <div id="y_pos"></div>
</div>

<!--
<div class="note" contenteditable="true" style="position:relative; top:300px; left: 300px; border: 1px solid blue; display: inline-block; ">my title
    <div style="position:absolute; border: 1px solid green; width: 100px; height: 50ps; bottom: 30px; left: 30px;">parent space</div>
</div>-->


<div id="title">
    <div id="title_title"></div>
    <img id="space-down" src="/static/images/icons/down-arrow.png" />
    <div id="title_parents">
        <div id="parents"></div>
    </div>
</div>

<div id="titleDbClick">
    <div id="tdb_title"></div>
    <div id="tdb_user_email">User : {{email}}</div>
    <div id="tdb_path"></div>
</div>


<div id="pasteBox">
    <div class="choiceBox">
        <div id="pasteAs">Paste as :</div>
        <div id="paste_1" class="choiceButton choiceDGreen">Parent</div>
        <div id="paste_2" class="choiceButton choiceLGreen">Child</div>
        <div id="paste_3" class="choiceButton choiceYellow">Visitor</div>
    </div>
</div>

<div id="pageRCBox" class="choiceBoxHoriz">
    <img id="pageRC_1" class="buttonIcon" src="/static/images/icons/new-page.png" style="height: 100%;"/>
    <img id="pageRC_2" class="buttonIcon" src="/static/images/icons/list.png" style="height: 100%;"/>
    <img id="pageRC_3" class="buttonIcon" src="/static/images/icons/to-do-list.png" style="height: 100%;"/>
    <img id="pageRC_4" class="buttonIcon" src="/static/images/icons/pdf.png" style="height: 100%;"/>
</div>

<!--
<div id="pageRCPlusBox">
    <div class="choiceBox">
           <div id="zoomButton" class="choiceLOrange">
               <img id="minusZoom"  src="/static/images/icons/minus.png" />
               zoom
               <img id="plusZoom"  src="/static/images/icons/add.png" />
           </div>
           <div id="pageRCPlus_1" class="choiceButton choiceLOrange"><i class="fa fa-plus"></i> To-Do list</div>
           <div id="pageRCPlus_2" class="choiceButton choiceLGreen"><i class="fa fa-print"></i> Export page as PDF</div>
    </div>
</div>
-->



<div id="noteRCBox" class="choiceBoxHoriz">
    <img id="noteRC_1" class="buttonIcon" src="/static/images/icons/copy.png" style="height: 100%;"/>
    <img id="noteRC_2" class="buttonIcon" src="/static/images/icons/draw.png" style="height: 100%;"/>
</div>

<div id="noteStyleBox" class="choiceBoxHoriz">
    <img id="noteStyleBox_1" class="buttonIcon" src="/static/images/icons/text-size.png" style="height: 100%;"/>
    <div id="noteStyleBox_2"></div>
    <img id="noteStyleBox_3" class="buttonIcon" src="/static/images/icons/underline-text.png" style="height: 100%;"/>
    <img id="noteStyleBox_4" class="buttonIcon" src="/static/images/icons/line.png" style="height: 100%;"/>
    <img id="noteStyleBox_5" class="buttonIcon" src="/static/images/icons/italic.png" style="height: 100%;"/>
    <img id="noteStyleBox_6" class="buttonIcon" src="/static/images/icons/css.png" style="height: 100%;"/>
</div>



<div id="noteLinkRCBox" class="choiceBoxHoriz">
    <img id="noteLinkRC_1" class="buttonIcon" src="/static/images/icons/copy.png" style="height: 100%;"/>
</div>




<div id="imageRCBox" class="choiceBoxHoriz">
    <img id="imageRC_1" class="buttonIcon" src="/static/images/icons/link.png" style="height: 100%;"/>
    <img id="imageRC_2" class="buttonIcon" src="/static/images/icons/draw.png" style="height: 100%;"/>
    <img id="imageRC_3" class="buttonIcon" src="/static/images/icons/download.png" style="height: 100%;"/>
</div>


<div id="imageLinkRCBox">
    <div class="choiceBox">
        <div id="imageLinkRC_1" class="choiceButton choiceLOrange"><i class="fa fa-link"></i> Change Link</div>
        <div id="imageLinkRC_2" class="choiceButton choiceLGreen"><i class="fa fa-images"></i> Change Image</div>
        <div id="imageLinkRC_3" class="choiceButton choiceYellow"><i class="fa fa-paint-brush"></i> Style</div>
    </div>
</div>

<div id="pdfRCBox" class="choiceBoxHoriz">
    <img id="pdfRC_1" class="buttonIcon" src="/static/images/icons/download.png" style="height: 100%;"/>
</div>

<div id="docxRCBox" class="choiceBoxHoriz">
    <img id="docxRC_1" class="buttonIcon" src="/static/images/icons/download.png" style="height: 100%;"/>
</div>

<div id="xlsxRCBox" class="choiceBoxHoriz">
    <img id="xlsxRC_1" class="buttonIcon" src="/static/images/icons/download.png" style="height: 100%;"/>
</div>

<div id="pageLinkRCBox" class="choiceBoxHoriz">
    <img id="pageLinkRC_1" class="buttonIcon" src="/static/images/icons/picture.png" style="height: 100%;"/>
    <img id="pageLinkRC_2" class="buttonIcon" src="/static/images/icons/draw.png" style="height: 100%;"/>
    <img id="pageLinkRC_3" class="buttonIcon" src="/static/images/icons/canva.png" style="height: 100%;"/>
</div>

<div id="imagePageLinkRCBox" class="choiceBoxHoriz">
    <img id="imagePageLinkRC_2" class="buttonIcon" src="/static/images/icons/picture.png" style="height: 100%;"/>
    <!--<div id="imagePageLinkRC_3" class="choiceButton choiceYellow"><i class="fa fa-images"></i> Style Title</div>-->
    <!--<div id="imagePageLinkRC_4" class="choiceButton choiceYellow"><i class="fa fa-images"></i> Style Image</div>-->
</div>

<div id="follower"></div>

<div id="criteriaRCBox">
    <div class="choiceBox">
        <div id="criteriaRC_1" class="choiceButton choiceLOrange"><i class="fa fa-plus"></i> Add a Category</div>
    </div>
</div>


<div id="titleRCBox" class="choiceBoxHoriz">
    <img id="titleRC_1" class="buttonIcon" src="/static/images/icons/draw.png" style="height: 100%;"/>
</div>


<div id="selectionRCBox" class="choiceBoxHoriz">
    <img id="selectionRC_1" class="buttonIcon" src="/static/images/icons/align-top.jpg" style="height: 100%;"/>
    <img id="selectionRC_2" class="buttonIcon" src="/static/images/icons/align-left.jpg" style="height: 100%;"/>
    <img id="selectionRC_3" class="buttonIcon" src="/static/images/icons/copy.png" style="height: 100%;"/>
</div>

<i style="position: absolute; top: 100px; left: 230px; background-size: cover; width:10px; height: 10px; background-image: url('/static/images/icons/uncheck.png');"></i>


<script>

var title = '{{title}}';
var pages = {{pages|safe}};
var lineage = {{lineage|safe}};
var xml = '{{xml_string|safe}}';
var xmlDoc = $.parseXML(xml);
//var biggest = xmlDoc.getElementsByTagName("biggest_id")[0].childNodes[0].nodeValue;
var pageID = '{{pageID|safe}}';
var user_id = '{{user_id|safe}}';
var y_position = '{{y_position|safe}}';

</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@latest/dist/pickr.min.js"></script>

    <script type="text/javascript" src="/static/js/unload.js" ></script>
    <script type="text/javascript" src="/static/js/save.js" ></script>
    <script type="text/javascript" src="/static/js/copy_paste.js" ></script>
    <script type="text/javascript" src="/static/js/main.js" ></script>
    <script type="text/javascript" src="/static/js/notes.js" ></script>
    <script type="text/javascript" src="/static/js/noteLinks.js" ></script>
    <script type="text/javascript" src="/static/js/drop.js" ></script>
    <script type="text/javascript" src="/static/js/images.js" ></script>
    <script type="text/javascript" src="/static/js/pdf.js" ></script>
    <script type="text/javascript" src="/static/js/docx.js" ></script>
    <script type="text/javascript" src="/static/js/xlsx.js" ></script>
    <script type="text/javascript" src="/static/js/pageLink.js" ></script>
    <script type="text/javascript" src="/static/js/drag.js" ></script>
    <script type="text/javascript" src="/static/js/title.js" ></script>
    <script type="text/javascript" src="/static/js/select.js" ></script>
    <script type="text/javascript" src="/static/js/imagePageLink.js" ></script>
    <script type="text/javascript" src="/static/js/imageLink.js" ></script>
    <script type="text/javascript" src="/static/js/lines.js" ></script>
    <script type="text/javascript" src="/static/js/zoom.js" ></script>
    <script type="text/javascript" src="/static/js/lists.js" ></script>
    <script type="text/javascript" src="/static/js/criteria.js" ></script>
    <script type="text/javascript" src="/static/js/categories.js" ></script>
    <script type="text/javascript" src="/static/js/zoom.js" ></script>
    <script type="text/javascript" src="/static/js/resize.js" ></script>
    <script type="text/javascript" src="/static/js/style.js" ></script>
    <script type="text/javascript" src="/static/js/color.js" ></script>


    <script>
        $(window).scrollTop(y_position);
    </script>

</body>

</html>



