<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">

    <script src="https://kit.fontawesome.com/2cb897d3bd.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>


    <!-- Tooltipster
    <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css" />

    <script type="text/javascript" src="tooltipster/dist/js/tooltipster.bundle.min.js"></script>-->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">


</head>

<body>


<!-- The Modal -->
<div class="modal forPageLink">

  <!-- Modal content -->
  <div class="modal-content">

    <div style="text-align:center; width:100%; height:100px; border:dashed 1px blue;" class="drop-area">drop image here</div>

    <span class="close">&times;</span>
    <!--{{ dropzone.create(action='/add_image_to_pageLink/'+pageID) }}
    <form action="" method="post" class="dropzone">

            <input name="file" type="file" multiple />

        <input type="text" id="pageLink_id" name="pageLink_id" value="hello">
        <input type="submit" value="Submit">
    </form>-->
      <!--{{ dropzone.create(action='/upload_iodzuhimage/'+pageID) }}-->
  </div>

</div>

<div class="modal forImagePageLink">

  <!-- Modal content -->
  <div class="modal-content">

    <div style="text-align:center; width:100%; height:100px; border:dashed 1px blue;" class="drop-area">drop image here</div>

    <span class="close">&times;</span>
    <!--{{ dropzone.create(action='/add_image_to_pageLink/'+pageID) }}
    <form action="" method="post" class="dropzone">

            <input name="file" type="file" multiple />

        <input type="text" id="pageLink_id" name="pageLink_id" value="hello">
        <input type="submit" value="Submit">
    </form>-->
      <!--{{ dropzone.create(action='/upload_iodzuhimage/'+pageID) }}-->
  </div>

</div>

<div class="modal forImageLink">

  <!-- Modal content -->
  <div class="modal-content">

    <div style="text-align:center; width:100%; height:100px; border:dashed 1px blue;" class="drop-area">drop image here</div>

    <span class="close">&times;</span>
    <!--{{ dropzone.create(action='/add_image_to_pageLink/'+pageID) }}
    <form action="" method="post" class="dropzone">

            <input name="file" type="file" multiple />

        <input type="text" id="pageLink_id" name="pageLink_id" value="hello">
        <input type="submit" value="Submit">
    </form>-->
      <!--{{ dropzone.create(action='/upload_iodzuhimage/'+pageID) }}-->
  </div>

</div>


<input style="display:none; opacity:0;" type="text" value="you" id="myClipboard">

<div  id="mouse_position">
    <div id="x_pos"></div>
    <div id="y_pos"></div>
</div>

<!--
<div class="note" contenteditable="true" style="position:relative; top:300px; left: 300px; border: 1px solid blue; display: inline-block; ">my title
    <div style="position:absolute; border: 1px solid green; width: 100px; height: 50ps; bottom: 30px; left: 30px;">parent space</div>
</div>-->


<div id="title">
    <div id="title_title"></div>
    <div id="title_parents">
        <div id="parents">

        </div>
    </div>
</div>

<div id="boxBox">
    <div id="choiceBox">
        <div id="pasteAs">Paste as :</div>
        <div class="choiceButton" id="choiceParent">Parent</div>
        <div class="choiceButton" id="choiceChild">Child</div>
        <div class="choiceButton" id="choiceVisitor">Visitor</div>
    </div>
</div>

</body>



<script>

var title = '{{title}}';
console.log("print title");
console.log(title);

var pages = {{pages|safe}};

var xml='{{xml_string|safe}}';
console.log("print xml");
console.log(xml);

var xmlDoc = $.parseXML(xml);
var biggest = xmlDoc.getElementsByTagName("biggest_id")[0].childNodes[0].nodeValue;
console.log(biggest);

var pageID = '{{pageID|safe}}';



</script>

    <script type="text/javascript" src="/static/js/main.js" ></script>

    <script type="text/javascript" src="/static/js/notes.js" ></script>

    <script type="text/javascript" src="/static/js/noteLinks.js" ></script>

    <script type="text/javascript" src="/static/js/drop.js" ></script>

    <script type="text/javascript" src="/static/js/images.js" ></script>

    <script type="text/javascript" src="/static/js/pdf.js" ></script>

    <script type="text/javascript" src="/static/js/pageLink.js" ></script>

    <script type="text/javascript" src="/static/js/drag.js" ></script>

    <script type="text/javascript" src="/static/js/title.js" ></script>

    <script type="text/javascript" src="/static/js/selectables.js" ></script>

    <script type="text/javascript" src="/static/js/imagePageLink.js" ></script>

    <script type="text/javascript" src="/static/js/imageLink.js" ></script>

    <script type="text/javascript" src="/static/js/unload.js" ></script>

    <script type="text/javascript" src="/static/js/youtube.js" ></script>

    <script type="text/javascript" src="/static/js/copy_paste.js" ></script>

</html>



