<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2EVK6G6Y2W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2EVK6G6Y2W');
    </script>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/libraries/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<style>

form{
    width: 300px;
}



</style>

</head>

<body>



<div style="display:flex; flex-direction:column; align-items:center; margin-top: 20px; font-family: 'Quicksand', sans-serif; margin-bottom: 100px;">

    <div style="width:300px; margin-top: 50px;">
      {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         {% for category, message in messages %}
           <div class="alert alert-{{category}}">
             {{ message }}
           </div>
         {% endfor %}
       {% endif  %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>

    <div style=" padding-right: 300px; margin-bottom: 40px;">
        <a href="/login">Back</a>
    </div>

    <div>
        <img src="static/images/icons/GYST_logo.png" style="width: 300px; margin-bottom: 30px;"/>
    </div>

    <form method="POST" action="" >
        {{ form.hidden_tag() }}

            <div style="margin-bottom: 10px;">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Gender -->
            <div style="margin-bottom: 10px;">
                {{ form.gender.label(class="form-control-label") }}
                {{ form.gender(class="form-control form-control-lg") }}
            </div>

            <!-- Age Group -->
            <div style="margin-bottom: 10px;">
                {{ form.age_group.label(class="form-control-label") }}
                {{ form.age_group(class="form-control form-control-lg") }}
            </div>

            <!-- Location -->
            <div style="margin-bottom: 10px;">
                {{ form.location.label(class="form-control-label") }}
                {{ form.location(class="form-control form-control-lg") }}
            </div>

            <div style="margin-bottom: 10px;">
                {{ form.interests.label(class="form-control-label") }}
                <div>
                    {% for value, label in form.interests.choices %}
                        <label>
                            <input type="checkbox" name="interests[]" value="{{ value }}">
                            {{ label }}
                        </label>
                        <br>
                    {% endfor %}
                </div>
            </div>

            <div >
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div style="display:flex; flex-direction:row; justify-content:space-between;">
                <div>
                </div>
                <div>
                    {{ form.submit(class="btn btn-outline-info", style="margin-top:10px") }}
                </div>
            </div>


    </form>

</div>








</body>


</html>


