
/**********   List   ***********/

.list {
    list-style-type: circle;
    position: absolute;
    padding: 5px 12px 7px 25px;
    border-style: solid;
    border-width : 1px;
    border-color : rgb(0, 0, 0, 0);
    border-radius : 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.list:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}


/**********   To Do List   ***********/


/*
.to-do-list li {
  position: absolute;
  padding-left: 10px;
}
*/


/* Add a border around the list container */

.to-do-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none; /* Remove default bullet points */
    padding: 5px 12px 7px 5px; /* Adjust this value to create space for the icon and bullet point */
    position: absolute; /* Maintain absolute positioning for dragging */
    border-style: solid;
    border-width : 1px;
    border-color : rgb(0, 0, 0, 0);
    border-radius : 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 220px; /* Adjust the maximum width as needed */
}

.to-do-list:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.to-do-list-list {
    padding-inline-start: 20px;
}


.checks {
    position: absolute;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: -15px;
}


.icon {
    width: 15px;
    height: 15px;
    background-image: url('/static/images/icons/uncheck.png');
    background-size: cover;
    margin-bottom: 3px;
    margin-top: 2px;
    cursor: pointer;
}


.done.icon {
    background-image: url('/static/images/icons/check.png');
}
.to-do.icon {
    background-image: url('/static/images/icons/uncheck.png');
}



.done {
  color: #5e8f51;
}