#updates_popup {
    position: fixed;
    top: 21%;
    left: 20%;
    width: 60%;
    height: 50%;
    background-color: rgb(252, 252, 252, 0.98) ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-size: 17px;
}

#updates_button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: rgb(252, 252, 252, 0.98);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 17px;
}


#patreon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width:145px;
    aspect-ratio: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding:8px;
}