@font-face {
  font-family: 'PWSimpleHandwriting'; /* Replace with your desired font name */
  src: url('/static/fonts/PWSimpleHandwriting.ttf') format('truetype'); /* Replace with the correct path to your TTF file */
}

@font-face {
  font-family: 'Rubik'; /* Replace with your desired font name */
  src: url('/static/fonts/Rubik-VariableFont_wght.ttf') format('truetype'); /* Replace with the correct path to your TTF file */
}

body {
    font-family: Rubik;
}

#version_history {
    position: fixed;
    top: 21%;
    left: 20%;
    width: 60%;
    height: 50%;
    background-color: white ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
    font-size: 17px;
    z-index: 23;
}

#version_history_button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 20px;
}

#v1 li {
    font-size:13px;
}
#v2 li {
    font-size:13px;
}

#v1 ul {
    padding-inline-start: 25px;
    margin-top: 5px;
}
#v2 ul {
    padding-inline-start: 25px;
    margin-top: 5px;
}

#v1 {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 30px;
}

#v2 {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 14px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#patreon {
    z-index: 20;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width:145px;
    aspect-ratio: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding:8px;
}

#youtube {
    z-index: 20;
    position: fixed;
    bottom: 20px;
    right: 185px;
    width:145px;
    aspect-ratio: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding:8px;
}

#login_form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 35%;
    align-items: center;
    margin-top: 100px;
}

#logo {
    width: 50%;
    margin-bottom: 30px;
}

#login_gif{
    top:48%;
    left: 9%;
    width: 24%;
    height: 30%;
}

#login_gif_2{
    top:13%;
    left: 3%;
    width: 23%;
    height: 28%;
}

#branding1{
    left: 65%;
    top: 36%;
    font-size: 30px;
}

#branding2{
    left: 65%;
    top: 47%;
    font-size: 27px;
}

#branding3{
    left: 65%;
    top: 57%;
    font-size: 23px;
}



/*    mobile    */

@media (max-width: 576px) {

  form {
    padding-bottom: 40px;
    border-bottom: .1px solid black;
  }
  #login_form {
    width: 90%;
    margin-left: 5%;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  #logo{
    width:60%;
    margin-bottom: 35px;
  }
  #branding1{
    left: 0%;
    top: 505px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  #branding2{
    left: 0%;
    top: 770px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  #branding3{
    left: 0%;
    top: 1100px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  #login_gif_2{
    left: 10%;
    width: 80%;
    height: 160px;
    top: 575px;
    margin-bottom: 10px;
  }
  #login_gif {
    left: 10%;
    width: 80%;
    height: 200px;
    top: 845px;
    margin-bottom: 50px;
  }
  #patreon {
    position: absolute;
    top: 1280px;
    width: 30%;
    left: 35%;
    margin-bottom: 20px;
  }
  #version_history_button {
    position: absolute;
    top: 1210px;
    left: 29%;
    width: 42%;
    height: 50px;
    font-size: 2.7vh;
    text-align: center;
  }
  #version_history {
    width: 70%;
  }
}


/***********  CSS for imagePageLink  ************/

.imagePageLink {
    position: absolute;
    padding : 3px;
    border-style: solid;
    border-width: 1px;
    /*border-color : rgb(200, 240, 149, 0.3) rgb(246, 140, 87) rgb(246, 140, 87) rgb(200, 240, 149, 0.3);*/
    border-color : rgb(0, 0, 0, 0);
    border-radius : 5px;
    background-color : rgb(200, 240, 149, 0.2);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}

.imagePageLink:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.imagePageLink_img{
    opacity :1;
    width:100%;
    height: 92%;
}


.imagePageLink_name {
    top: 100%;
    height: 8%;
    align-items: center;
    justify-content:center;
    font-size:23px;
    text-align: center;
    padding-bottom: 4px;
    font-family : PWSimpleHandwriting, Geneva !important;
    width: 100%;
    overflow: visible;

    /* transition effect. not necessary */
    transition: opacity .2s, font-size .2s, color .2s;
}

.imagePageLink:hover{
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
    cursor : pointer;
}

.imagePageLink:hover .imagePageLink_name {
  opacity: 1;
}

#imagePageLinkRCBox{
    z-index: 8;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

/*     CSS for note   */

.note {

  position: absolute;
  padding : 3px;
  border-style : solid;
  border-width : 1px;
  border-color : rgb(0, 0, 0, 0);
  border-radius : 5px;
  text-align: left;
  white-space: nowrap;
  background-color: white;
  cursor: pointer;

}

[contenteditable="true"] {
    outline: none; /* Remove the outline */
}


.note:hover {

  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);

}


#noteRCBox{
    z-index: 8;
    display : none;
    position: absolute;
}


#noteStyleBox{
    z-index: 8;
    display : none;
    position: absolute;
}

#noteStyleColor{
    z-index: 8;
    display : none;
    position: absolute;
}

.pickr {
    width: 30px;
    height: 30px;
    /*position: absolute !important;*/
    transform : none !important;
    height: 100%;
    display: flex;
    align-items: center;
}

.pcr-interaction {
    display: none !important;
}

.pcr-app {
    position: absolute !important;
}

/*    css pdf   */

.pdf {
    position: absolute;
    border-color: rgb(0, 0, 0, 0);
    border-style: solid;
    border-width: 0px;
    border-radius : 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.pdf:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.pdf_img{
    opacity: 1;
    width: 100%;
    height: 95%;
}

.pdf_name{

    top: 100%;
    height: 8%;
    align-items: center;
    justify-content:center;
    text-align: center;
    padding-bottom: 4px;
    font-family : PWSimpleHandwriting, Geneva !important;
    width: 100%;
    overflow: visible;

    /* transition effect. not necessary */
    transition: opacity .2s, font-size .2s, color .2s;
}


.pdf:hover .pdf_name {
    opacity: 1;
    font-size: 20px;
}

.pdf:hover .pdf_img {
  opacity: 0.3;
}

.resizable {
  resize: both;
  overflow: auto;
 }


/**********   To Do List   ***********/

.to-do-list li {
  position: relative;
  padding-left: 2px;
}

/* Add a border around the list container */

.to-do-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 24px 3px 10px; /* Adjust this value to create space for the icon and bullet point */
    position: absolute; /* Maintain absolute positioning for dragging */
    border-style: solid;
    border-width : 1px;
    border-color : rgb(0, 0, 0, 0);
    border-radius : 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    white-space: nowrap;

}

.to-do-list:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.to-do-list-list {
    list-style: disc;
    padding-inline-start: 14px;
    margin-bottom: 2px;
}


.icon {
    width: 15px;
    height: 15px;
    background-size: cover;
    margin-bottom: 3px;
    margin-top: 2px;
    cursor: pointer;
    position: absolute;
    display :inline;
    margin-left: 7px;
}

.done .icon {
    background-image: url('/static/images/icons/check.png');
}
.to-do .icon {
    background-image: url('/static/images/icons/uncheck.png');
}

.ongoing .icon {
    background-image: url('/static/images/icons/ongoing.png');
}

.to-do-list:hover .plus-to-do{
    display: flex;
}

.plus-to-do {
    width: 15px;
    height: 15px;
    background-image: url('/static/images/icons/add.png');
    background-size: cover;
    margin-bottom: 3px;
    margin-top: 2px;
    cursor: pointer;
    display: none;
}

/*  css image (for gif) */

.image{
    position: absolute;
    border-color: rgb(0, 0, 0, 0);
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
}





