.note, .pageLink, noteLink, #title  {
    font-family: Geneva;
}


.note {
  position: absolute;
  padding : 3px;
  border : 1px solid rgb(0, 0, 0, 0);
  border-radius : 5px;
  text-align: left;
  /*background: inherit;*/

}



/**********  Image   ***********/

.image{
    position: absolute;
    border: 1px solid transparent;
    border-radius : 5px;
}

.image_name {
  position: absolute;
  top:0;
  right: 0;
  width:100%;
  height:100%;
  display:flex;
  width:100%;
  opacity: 0;
  align-items:center;
  justify-content:center;
  font-size:20px;

  /* transition effect. not necessary */
  transition: opacity .2s;
}

.image_img{
    opacity :1;
    width:100%;
    height:100%;
}

.image:hover {
  border-color: grey;
}



/**********   Note Link   ***********/

.noteLink {
  position: absolute;
  padding: 3px;
  border: 1px solid #d3d3d3;
  border-radius : 5px;
  text-align: center;
  background-color : rgb(186, 222, 219, 0.5 );
}

.noteLink_link {
  display: none;
  position: absolute;
  top:0;
  right: 0;
  width:100%;
  height:100%;
  display:flex;
  width:100%;
  color: #049FD5;
  opacity: 0;
  align-items:center;
  justify-content:center;
  font-size:15px;
  text-decoration: underline;

  /* transition effect. not necessary */
  transition: opacity .2s, font-size .2s, color .2s;
}

.noteLink_content{
    opacity :1;
    width:100%;
    height:100%;
}

/**********  Image Link   ***********/

.imageLink {
  position: absolute;
  border: 1px solid #d3d3d3;
  border-radius : 5px;
  overflow: hidden;
}

.imageLink_link {
  position: absolute;
  top:0;
  right: 0;
  width:100%;
  height:100%;
  display:flex;
  width:100%;
  color: rgb(136, 114, 217);
  opacity: 0.1;
  align-items:center;
  justify-content:center;
  font-size:15px;
  text-decoration: underline;
  text-align: center;

  /* transition effect. not necessary */
  transition: opacity .2s, font-size .2s, color .2s;
}

.imageLink_img{
    opacity :1;
    width:100%;
    height:100%;
}

.imageLink:hover{
    overflow:visible;
}

.imageLink:hover .imageLink_link {
  opacity: 1;
  font-size:20px;
  color : #049FD5 ;
}

.imageLink:hover .imageLink_img {
  opacity: 0.3;
}

/**********   PDF  ***********/

.pdf {
  position: absolute;
  border: 1px solid grey;
  border-radius : 5px;
}

.pdf_name{
  position: absolute;
  top:0;
  right: 0;
  width:100%;
  height:100%;
  display:flex;
  width:100%;
  color: #fff;
  opacity: 0.5;
  align-items:center;
  justify-content:center;
  font-size:15px;
  text-align:center;

  /* transition effect. not necessary */
  transition: opacity .2s, font-size .2s, color .2s;
}

.pdf_img{
    opacity :1;
    width:100%;
    height:100%;
}

.pdf:hover .pdf_name {
  opacity: 1;
  font-size:20px;
  color : purple;
}

.pdf:hover .pdf_img {
  opacity: 0.3;
}

/***********  imagePageLink  ************/

.imagePageLink {
  position: absolute;
  border: 1px solid #d3d3d3;
  border-radius : 5px;
  border-bottom: 1px solid #F68C57;
  border-right: 1px solid #F68C57;
}

.imagePageLink_name {
  position: absolute;
  top:0;
  right: 0;
  width:100%;
  height:100%;
  display:flex;
  width:100%;
  color: #fff;
  opacity: 0.1;
  align-items:center;
  justify-content:center;
  font-size:20px;
  text-align:center;

  /* transition effect. not necessary */
  transition: opacity .2s, font-size .2s, color .2s;
}

.imagePageLink_img{
    opacity :1;
    width:100%;
    height:100%;
}

.child.imagePageLink:hover{
    background-color : rgb(200, 240, 149, 0.5);
}

.parent.imagePageLink:hover{
    background-color : rgb(52, 190, 121, 0.5);
}

.visitor.imagePageLink:hover{
    background-color : rgb(233, 227, 97, 0.5);
}

.imagePageLink:hover .imagePageLink_name {
  opacity: 1;
  font-size:23px;
  color : rgb(64, 80, 64);
}

.imagePageLink:hover .imagePageLink_img {
  opacity: 0.3;
}


.imagePageLink:hover {
    border-bottom : 2px solid #F68C57;
    border-right : 2px solid #F68C57;
}


/***********************************/

.pageLink {
  position: absolute;
  padding : 3px;
  border: 1px solid rgb(200, 240, 149, 0.3);
  border-radius : 5px;
  text-align: center;
  border-bottom: 1px solid #F68C57;
  border-right: 1px solid #F68C57;
}

.pageLink:hover {
    font-size: 15px;
    cursor: default;
    font-weight: 450;
    border-bottom : 2px solid #F68C57;
    border-right : 2px solid #F68C57;
}

.child.pageLink{
    background-color : rgb(200, 240, 149, 0.2);
}

.parent.pageLink{
    background-color : rgb(52, 190, 121, 0.5);
}

.visitor.pageLink{
    background-color : rgb(233, 227, 97, 0.5);
}

.input{
  display:none;
  border:0;
  text-align:center;
  vertical-align:middle;
}

/********  Title  ********/

#title{
    position: absolute;
    z-index: 10;
}

#title_title{
    display: inline-block;
    border: 1px solid transparent;
    border-radius : 5px;
    font-size : 30px;
    color : #6E1055;
    text-decoration: underline;
    font-weight: 800;
    z-index:9;
}

#title_parents{
    display:none;
    position: relative;
    border: 1px dashed green;
    border-radius : 5px;
    padding : 20px;
    background-color: rgb(224, 250, 190, 0.15);
    z-index: 9;
}

.parent{
    position: absolute;
}

.parents{
    width:100%;
    height: 100%;
    position: relative;
}

.resizable {
  resize: both;
  overflow: auto;
  }

.resizable img {
  width: 100%;
  height: 100%;
}

.selected {
    background-color: red;
}



.wrapper {
    border:1px solid orange;
}

#pasteBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

.choiceBox{
    border : 1px solid rgb(173, 209, 220);
    border-radius : 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#EDF9FC;
    padding-top:5px;
}


.choiceButton{
    width:130px;
    background-color: green;
    margin-bottom: 5px;
    margin-left:15px;
    margin-right: 15px;
    text-align: center;
    cursor: pointer;
    border-radius : 2px;
}

.choiceButtonSmall{
    width:30px;
    background-color: green;
    margin-bottom: 5px;
    margin-left:3px;
    margin-right: 3px;
    text-align: center;
    cursor: pointer;
    border-radius : 2px;
}


#pasteAs{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:15px;
    font-weight : bold;
}


.choiceDGreen{
    background-color : rgb(52, 190, 121, 0.5);
}

.choiceLGreen{
    background-color : rgb(200, 240, 149, 0.5);
}

.choiceYellow{
    background-color : rgb(233, 227, 97, 0.5);
}

.choiceDGreen:hover{
    background-color : rgb(52, 190, 121, 0.9);
}

.choiceLGreen:hover{
    background-color : rgb(200, 240, 149, 0.9);
}

.choiceYellow:hover{
    background-color : rgb(233, 227, 97, 0.9);
}

.choiceLOrange{
    background-color : rgb(249, 190, 79, 0.5);
}

.choiceLOrange:hover{
    background-color : rgb(249, 190, 79, 0.9);
}


#pageRCBox{
    z-index: 15;
    display : none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 300px;
}

#pageRCPlusBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#noteRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#noteLinkRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#imageRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#imageLinkRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#pdfRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#pageLinkRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#imagePageLinkRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#criteriaRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#titleRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#selectionRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}


/*   LINES  */

.line{
    border: dashed 1px black;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index:-2;
}


/********  Criteria  ********/

.criteria{
    position: absolute;
}

.criteria_name{
    padding: 3px;
    display: inline-block;
    border: 1px solid transparent;
    background-color: orange;
    border-radius : 5px;
    font-size : 20px;
    color : green;
    text-decoration: underline;
    font-weight: 800;
    z-index:9;
}

.criteria_categories{
    position: relative;
    border: 1px dashed green;
    border-radius : 5px;
    background-color: rgb(224, 250, 190, 0.15);
    z-index: 9;
}

.category{
    position: absolute;
    border: 1px solid blue;
    border-radius : 3px;
    padding: 2px;
}

.categories{
    width:100%;
    height: 100%;
    position: relative;
}

#selectBox{
    z-index: 10;
}

/**************  ZOOM  ***************/

/*body {
/*    -moz-transform: scale(0.5, 0.5); /* Moz-browsers */
/*    zoom: 0.5; /* Other non-webkit browsers */
/*    zoom: 50%; /* Webkit browsers */
/*}
*/

body {
    zoom: 1;
}
