@font-face {
  font-family: 'DailyLife'; /* Replace with your desired font name */
  src: url('/static/fonts/DailyLife.ttf') format('truetype'); /* Replace with the correct path to your TTF file */
}

@font-face {
  font-family: 'PWSimpleHandwriting'; /* Replace with your desired font name */
  src: url('/static/fonts/PWSimpleHandwriting.ttf') format('truetype'); /* Replace with the correct path to your TTF file */
}




.input{
  display:none;
  border:0;
  text-align:center;
  vertical-align:middle;
}


#title_parents{
    display:none;
    position: relative;
    border: 1px dashed green;
    border-radius : 5px;
    padding : 20px;
    background-color: rgb(224, 250, 190, 0.15);
    z-index: 9;
}

.parent{
    position: absolute;
}

.parents{
    width:100%;
    height: 100%;
    position: relative;
}

.resizable {
  resize: both;
  overflow: auto;
 }

.resizable img {
  width: 100%;
  height: 100%;
}

.selected {
    background-color: red;
}



.wrapper {
    border:1px solid orange;
}

#pasteBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}

#zoomButton{
    width: 130px;
    margin-bottom: 5px;
    text-align: center;
    border-radius : 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#pasteAs{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:15px;
    font-weight : bold;
}


.choiceDGreen{
    background-color : rgb(52, 190, 121, 0.5);
}

.choiceLGreen{
    background-color : rgb(200, 240, 149, 0.5);
}

.choiceYellow{
    background-color : rgb(233, 227, 97, 0.5);
}

.choiceDGreen:hover{
    background-color : rgb(52, 190, 121, 0.9);
}

.choiceLGreen:hover{
    background-color : rgb(200, 240, 149, 0.9);
}

.choiceYellow:hover{
    background-color : rgb(233, 227, 97, 0.9);
}

.choiceLOrange{
    background-color : rgb(249, 190, 79, 0.5);
}

.choiceLOrange:hover{
    background-color : rgb(249, 190, 79, 0.9);
}


#pageRCBox{
    z-index: 8;
    display : none;
    position: absolute;
}

#pageRCPlusBox{
    z-index: 8;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}



#imageLinkRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}






#criteriaRCBox{
    z-index: 15;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}




/*   LINES  */

.line{
    border: dashed 1px black;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index:-2;
}


/********  Criteria  ********/

.criteria{
    position: absolute;
}

.criteria_name{
    padding: 3px;
    display: inline-block;
    border: 1px solid transparent;
    background-color: orange;
    border-radius : 5px;
    font-size : 20px;
    color : green;
    text-decoration: underline;
    font-weight: 800;
    z-index:9;
}

.criteria_categories{
    position: relative;
    border: 1px dashed green;
    border-radius : 5px;
    background-color: rgb(224, 250, 190, 0.15);
    z-index: 9;
}

.category{
    position: absolute;
    border: 1px solid blue;
    border-radius : 3px;
    padding: 2px;
}

.categories{
    width:100%;
    height: 100%;
    position: relative;
}

#selectBox{
    z-index: 5;
}

/**************  ZOOM  ***************/

/*body {
/*    -moz-transform: scale(0.5, 0.5); /* Moz-browsers */
/*    zoom: 0.5; /* Other non-webkit browsers */
/*    zoom: 50%; /* Webkit browsers */
/*}
*/

/*
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
}
*/

#plusZoom {
    height:20px;
    cursor: pointer;
}

#minusZoom {
    height:20px;
    cursor: pointer;
}

#zoomLevel {
    display: none;
}





