.note {

  position: absolute;
  padding : 3px;
  border-style : solid;
  border-width : 1px;
  border-color : rgb(0, 0, 0, 0);
  border-radius : 5px;
  text-align: left;
  white-space: nowrap;
  background-color: white;
  cursor: pointer;
  font-size: 14px;

}


[contenteditable="true"] {
    outline: none; /* Remove the outline */
}


.note:hover {

  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);

}


#noteRCBox{
    z-index: 8;
    display : none;
    position: absolute;
}


#noteStyleBox{
    z-index: 8;
    display : none;
    position: absolute;
}

#noteStyleColor{
    z-index: 8;
    display : none;
    position: absolute;
}

.pickr {
    width: 30px;
    height: 30px;
    /*position: absolute !important;*/
    transform : none !important;
    height: 100%;
    display: flex;
    align-items: center;
}

.pcr-interaction {
    display: none !important;
}

.pcr-app {
    position: absolute !important;
}