

/**********   Note Link   ***********/

.noteLink {
  position: absolute;
  padding: 5px 8px 5px 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0);
  border-radius : 8px;
  text-align: center;
  background-color : #e9f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.noteLink:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.noteLink_link {
  display: none;
  position: absolute;
  top:6px;
  right: -12px;
  width:100%;
  height:100%;
  display:flex;
  color: #049FD5;
  opacity: 0;
  align-items:center;
  justify-content:center;
  font-size:12px;
  text-decoration: underline;
  cursor: pointer;


  /* transition effect. not necessary */
  transition: opacity .2s, font-size .2s, color .2s;
}

.noteLink_content{
    opacity :1;
    width:100%;
    height:100%;

    /* transition effect. not necessary */
    transition: opacity .2s, font-size .2s, color .2s;
    white-space: no-wrap;
}

.noteLink_favicon{
    position : absolute;
    bottom : -7px;
    right : -10px;
    width : 23px;
    height : 23px;
    opacity : 0.7;
    border-radius: 4px;

    transition: opacity .5s, bottom .5s, right .5s, width .5s, height .5s;
}


#noteLinkRCBox{
    z-index: 8;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}