
/********  Title  ********/

#title{
    position: absolute;
    z-index: 10;
    cursor: pointer;

}

#title_title{
    display: inline-block;
    border: 1px solid transparent;
    border-radius : 5px;
    font-size : 30px;
    color : #6E1055;
    text-decoration: underline;
    font-weight: 800;
    z-index:9;
    padding: 4px;
}


#titleRCBox{
    z-index: 8;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}


#space-down {
    display: none;
    width: 40px;
    margin : 0 auto;
    cursor: pointer;
}


#titleDbClick {
    border-radius: 5px;
    background-color : rgb(252, 252, 252);
    padding : 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    width: 400px;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 9;
    font-size: 17px;
}

#tdb_title {
    align-self: center;
    font-size: 22px;
    margin-bottom: 5px;
}


#tdb_status {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content : flex-start;
}

.status_button{
    border-radius : 8px;
    background-color : rgb(186, 222, 219, 0.15 );
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    cursor: pointer;
    padding: 3px;
    margin-left: 4px;
}

.status_selected {
    background-color : rgb(186, 222, 219, 0.7 );
}

#tdb_background {
    margin-top: 10px;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content : flex-start;
}

.background_btn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

