
/**********   To Do List   ***********/



.to-do-list li {
  position: relative;
  padding-left: 2px;
}



/* Add a border around the list container */

.to-do-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none; /* Remove default bullet points */
    padding: 5px 24px 3px 10px; /* Adjust this value to create space for the icon and bullet point */
    position: absolute; /* Maintain absolute positioning for dragging */
    border-style: solid;
    border-width : 1px;
    border-color : rgb(0, 0, 0, 0);
    border-radius : 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 220px; /* Adjust the maximum width as needed */
    background-color: white;
}

.to-do-list:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.to-do-list-list {
    padding-inline-start: 14px;
    margin-bottom: 2px;
}


.checks {
    position: absolute;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: -15px;
}


.icon {
    width: 15px;
    height: 15px;
    background-size: cover;
    margin-bottom: 3px;
    margin-top: 2px;
    cursor: pointer;
    position: absolute;
    display :inline;
    margin-left: 7px;
}

.done .icon {
    background-image: url('/static/images/icons/check.png');
}
.to-do .icon {
    background-image: url('/static/images/icons/uncheck.png');
}


.to-do-list:hover .plus-to-do{
    display: flex;
}

.plus-to-do {
    width: 15px;
    height: 15px;
    background-image: url('/static/images/icons/add.png');
    background-size: cover;
    margin-bottom: 3px;
    margin-top: 2px;
    cursor: pointer;
    display: none;
}

.done {
  color: #5e8f51;
