
/**********   xlsx  ***********/

.xlsx {
    position: absolute;
    border-color: rgb(0, 0, 0, 0);
    border-style: solid;
    border-width: 0px;
    border-radius : 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.xlsx:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.xlsx_img{
    opacity: 1;
    width: 100%;
    height: 95%;
}

.xlsx_name{

    top: 100%;
    height: 8%;
    align-items: center;
    justify-content:center;
    text-align: center;
    padding-bottom: 4px;
    font-family : PWSimpleHandwriting, Geneva !important;
    width: 100%;
    overflow: visible;

    /* transition effect. not necessary */
    transition: opacity .2s, font-size .2s, color .2s;
}


.xlsx:hover .xlsx_name {
    opacity: 1;
    font-size: 20px;
}

.xlsx:hover .xlsx_img {
  opacity: 0.3;
}



#xlsxRCBox{
    z-index: 8;
    display : none;
    position: absolute;
    top: 300px;
    left: 300px;
}


